---
import Section from "@/components/Section.astro";
import HeroBg from "@/assets/cleanomatic-truck-1.jpg";
import { getBusinessHours } from "@/queries/BusinessHoursQuery";
import { SiteData, CTAdata } from "@/content/SiteData";


// ── Reusable class variables ───────────────────────────────────
const sectionClassVar =
  "min-h-[100vh] md:min-h-[80vh] xl:min-h-[100vh] flex flex-col items-center justify-center bg-cover bg-fixed bg-center z-100 md:p-[var(--spacing-sm)] text-bg text-base md:text-xl";
const contentClassVar = "w-8/10 sm:mt-0 xl:mt-[-50px]";
const headingAreaClassVar = "xl:max-w-7/8";
const buttonsSectionClassVar =
  "mt-[var(--spacing-md)] order-last sm:mt-0 scale-up";

const childContainerClassVar =
  "py-[var(--spacing-lg)] prose prose-lg text-bg";
const listClassVar = "px-[var(--spacing-xl)] list-disc list-inside space-y-[var(--spacing-md)]";
const listItemClassVar = "space-y-[var(--spacing-sm)] slide-left";
---

<Section
  sectionClass={sectionClassVar}
  contentClass={contentClassVar}
  headingAreaClass={headingAreaClassVar}
  heading={[
    {
      text: "Keeping NJ Clean Since 1999!",
      tagName: "label",
      class: "h4 italic text-bg slide-down",
    },
    {
      text: "Your Trusted Cleaning Experts in New Jersey.",
      tagName: "h2",
      class: "h2 text-bg slide-down",
    },
  ]}
  description={`
    Welcome to Cleanomatic, your trusted, full‑service partner for all things clean in New Jersey—Monmouth, Ocean, Middlesex,
      and beyond. Whether you’re dealing with water damage after a leak, improving indoor air quality by clearing dryer vents and air ducts, or giving your home a fresh start with deep furniture, carpet, and floor cleaning, we’ve got you covered.
  `}
  descriptionClass="slide-up"
  backgroundMedia={{
    image: {
      src: HeroBg,
      imageClass: "filter brightness-50 bg-cover bg-center xl:bg-fixed",
    },
    overlayClass: "bg-black opacity-50",
  }}
  buttons={[
    {
      text: CTAdata.buttonText,
      link: CTAdata.buttonLink,
      variant: "primary",
    },
  ]}
    childPlacement="top-content-section"
  buttonsSectionClass={buttonsSectionClassVar}
>
  <div class={childContainerClassVar}>
    <ul class={listClassVar}>
      <li class={listItemClassVar}>
        Fast, Reliable Water Removal
      </li>

      <li class={listItemClassVar}>
        Breathe Easier with Dryer Vent &amp; Air Duct Cleaning
      </li>

      <li class={listItemClassVar}>
        Pristine Carpets, Floors &amp; Upholstery
      </li>

      <li class={listItemClassVar}>
        Fully Licensed, Insured &amp; Satisfaction‑Guaranteed
      </li>
    </ul>
  </div>
</Section>
