---
import ItemsTemplate from "../../ItemsTemplate.astro";
import MenuItem from "../MenuLink.astro";

const { queryName, className = "" } = Astro.props;
const currentPath = Astro.url.pathname;
---
<nav class={`menu ${className}`}>
  <ul class="nav-links flex gap-4 list-none m-0 p-0">
    <ItemsTemplate
      ItemComponent={MenuItem}
      queryName={queryName}
      className="flex gap-4"
      columns={null}
      gap="0"
      currentPath={currentPath}
    />
  </ul>
</nav>
