---
import { buildMenuQueries } from "@/utils/ArrayQueryUtils";
import Menu from "./Menu/BarMenu/NavMenu.astro";
import { getContactMenuItems } from "@/queries/ContactMenuQuery";
import { getSocialMenuItems } from "@/queries/SocialMenuQuery";
import PhoneNumber from "./LoopComponents/ContactMenu/ContactInfo"; // updated contact info component
import Logo from "./Logo.astro";
import Heading from "./Heading";
import { SiteData } from "@/content/SiteData";
import { getBusinessHours } from "@/queries/BusinessHoursQuery";
import BusinessHoursItem from "./Menu/BusinessHoursItem.astro";

// Define shared class strings for menus, headings, and menu items.
const menuListClass =
  "flex flex-col uppercase justify-start items-start gap-[var(--spacing-md)] pb-[var(--spacing-lg)]";
const menuHeadingClass = "h4 text-bg my-[var(--spacing-sm)] italic";
const menuItemClass = "text-right text-base hover:underline";

const FooterMenu = [
{
    id: "about",
    label: "About Us",
    slug: "/about-us",
    weight: 30,
  },
{
    id: "contact",
    label: "Contact Us",
    slug: "/contact-us",
    weight: 30,
  },
  {
    id: "privacy",
    label: "Privacy Policy",
    slug: "/privacy-policy",
    weight: 10,
  },
  {
    id: "cookie",
    label: "Cookie Policy",
    slug: "/cookie-policy",
    weight: 20,
  },
];
---

<footer class="flex justify-center items-center flex-col w-full load fade-in">
  <div
    class="w-full flex flex-col lg:flex-row justify-center items-center bg-accent text-bg pt-[var(--spacing-3xl)] pb-[var(--spacing-3xl)] md:pb-[var(--spacing-xl)] px-[var(--spacing-xl)] lg:px-[var(--spacing-xl)]"
  >
    <div
      class="footer-wrapper w-full header-and-footer-wrap flex flex-wrap justify-between items-start"
    >
      <div
        class="w-full xl:w-1/4 md:mb-[var(--spacing-lg)] mb-0 xl:text-left text-center flex flex-col lg:items-center pb-[var(--spacing-lg)]"
      >
        <Logo
        containerClass="flex flex-col items-center"
        />
        <p class="text-base mt-[var(--spacing-sm)] px-[var(--spacing-sm)]">
          {SiteData.description}
        </p>
      </div>
      <div
        class="footer-menus w-full flex flex-wrap sm:flex-row justify-between xl:w-2/3"
      >
        <div class="footer-menu w-full sm:w-1/2 md:w-auto">
          <Heading tagName="label" className={menuHeadingClass}> Info </Heading>
          <Menu
            listClass={menuListClass}
            items={await buildMenuQueries({ FooterMenu })}
          />
        </div>
        <div class="contact-info w-full sm:w-1/2 md:w-auto">
          <Heading tagName="label" className={menuHeadingClass}>
            Contact Us
          </Heading>
          <Menu
            items={await getContactMenuItems()}
            listClass={menuListClass}
            menuItem={{
              component: PhoneNumber,
              class: menuItemClass,
            }}
          />
        </div>
        <div class="business-hours-menu h6 text-stroke grow md:grow-0 italic">
          <Heading tagName="label" className={menuHeadingClass}>
            Business Hours
          </Heading>
          <Menu
            items={await getBusinessHours()}
            menuItem={{
              component: BusinessHoursItem, // Import the component you just created
              class: "custom-business-hours", // optional additional classes
            }}
            listClass="business-hours-list flex flex-col"
          />
          <Heading tagName={"label"} className={"h6"}>
            Unless an Emergency!
          </Heading>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full bg-primary text-bg p-[var(--spacing-lg)]">
    <div
      class="footer-copyright flex flex-col md:flex-row justify-center items-center text-center italic gap-[var(--spacing-xs)]"
    >
      <p>
        &copy; {new Date().getFullYear()} Cleanomatic. All rights reserved.
      </p>
      <p>
        Created by
        <a
          href="https://griffinswebservices.com"
          class="underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          Griffin's Web Services
        </a>
      </p>
    </div>
  </div>
</footer>
