---
import { SiteData, CTAdata } from "@/content/SiteData";
import { buildMenuQueries } from "@/utils/ArrayQueryUtils";
import Menu from "../components/Menu/Menu.astro";
import MenuItem from "../components/Menu/BarMenu/MenuItem.astro"; // default main menu item
import PhoneNumber from "./LoopComponents/ContactMenu/HeaderPhoneNumber"; // updated phone number component
import { Image } from "astro:assets";
import Button from "./Button";
import Logo from "../components/Logo.astro"; // new Logo component
import { getPhoneNumberMenuItems } from "@/queries/PhoneNumberMenuQuery";

const MainNavMenu = [
  { id: "home", label: "Home", slug: "/" },
  { id: "about", label: "About Us", slug: "/about-us" },
  {
    id: "contact",
    label: "Contact",
    slug: "/contact-us",
    position: "append",
    weight: 100,
  },
];

const headerItems = await buildMenuQueries({ MainNavMenu });
const phoneMenuItems = await getPhoneNumberMenuItems();
const breakpoint = "lg";
---

<header
  class="flex flex-col justify-between items-center sticky top-0 z-[150] shadow-xl"
>
  <div
    class="top-header w-full flex justify-center items-center py-[var(--spacing-xs)] sm:py-[var(--spacing-md)] bg-primary text-tertiary"
  >
    <div class="header-and-footer-wrap">
      <div class="h4 font-bold italic">24 Hour Emergency Service</div>
    </div>
  </div>
  <div
    class="main-header bg-accent text-bg lg:w-full flex justify-center w-full p-[var(--spacing-md)]"
  >
    <div
      class="header-and-footer-wrap flex justify-between items-center w-full"
    >
      <Logo />
      <div
        class="phone-and-cta-on-header hidden lg:flex justify-between items-center xl:w-1/2"
      >
        <!-- Phone number menu using the dynamic Menu component -->
        <Menu
          items={phoneMenuItems}
          menuClass="phone-list flex"
          menuItem={{ component: PhoneNumber, class: "phone-menu-item" }}
        />
        <Button variant="secondary" href={CTAdata.buttonLink}>
          {CTAdata.buttonText}
        </Button>
      </div>
      <!-- Mobile menu -->
      <Menu
        items={headerItems}
        menuClass="menu-class bg-primary flex lg:hidden text-text"
        menuItem={{
          component: MenuItem,
          class:
            "text-bg py-[var(--spacing-md)] px-[var(--spacing-xl)] h2 hover:bg-secondary",
        }}
        submenuItem={{
          component: MenuItem,
          class: "bg-primary py-[var(--spacing-sm)] h5 italic",
        }}
        isHierarchical={true}
        breakpoint={breakpoint}
        hamburgerMenu={{
          hamburgerIconClass: "bg-primary",
          hamburgerIconTransform: false,
          menuBackground: "bg-primary bg-opacity-75",
          menuOverlay: "bg-black bg-opacity-50",
          listClass: "flex flex-col",
          closeButton: true,
          closeButtonClass:
            "absolute top-0 right-0 m-4 text-white hover:text-red-500",
        }}
      />
    </div>
  </div>
  <div
    class="bottom-header hidden lg:flex header-bottom w-full items-center bg-primary justify-center"
  >
    <div class="header-and-footer-wrap w-full flex">
      <!-- Desktop menu -->
      <Menu
        items={headerItems}
        menuClass="menu-class flex justify-between items-center"
        menuItem={{
          component: MenuItem,
          class:
            "text-bg py-[var(--spacing-md)] px-[var(--spacing-xl)] h4 hover:bg-secondary italic",
        }}
        submenuItem={{ component: MenuItem, class: "bg-primary h6" }}
        isHierarchical={true}
        breakpoint="none"
      />
    </div>
  </div>
</header>
