---
import { SiteData } from "@/content/SiteData";
import { buildContentQueries } from "@/utils/ArrayQueryUtils";
import Menu from "./Menu/Menu.astro";
import { Image } from "astro:assets";
import Heading from "./Heading";

const baseMainNavMenu = [
  { id: "home", label: "Home", slug: "/" },
  { id: "about", label: "About Us", slug: "/about-us" },
  {
    id: "contact",
    label: "Contact",
    slug: "/contact-us",
    position: "append",
    weight: 100,
  },
];
const finalQueries = await buildContentQueries({
  MainNavMenu: baseMainNavMenu,
});
const headerMenu = finalQueries.MainNavMenu || [];
---
<header class="flex flex-col justify-between items-center shadow-md sticky top-0 z-50">
  <div class="top-header w-full flex justify-center items-center py-[var(--spacing-sm)] bg-primary text-bg">
    <Heading tagName={"h5"} className="h4">
      {SiteData.tagline}
    </Heading>
  </div>
<div class="main-header bg-secondary text-bg w-full flex justify-between">
  <a href="/" class="flex flex-col items-start justify-left py-[var(--spacing-md)]">
    <Heading tagName={"h1"} className="h2">
      {SiteData.title}
    </Heading>
    <div class="tagline-and-logo flex items-center justify-center items-center">
      <Heading tagName={"h2"} className="h5">
        {SiteData.tagline}
      </Heading>
      <Image
        src={SiteData.logo.src}
        alt={`${SiteData.title} logo`}
        class="h-8 w-auto md:h-10 animate-slide-right"
        loading="eager"
        fetchpriority="high"
        aria-hidden="true"
      />
    </div>
  </a>
  <!-- <Heading
    tagName={"h2"}
    className="text-bg"
    >Call</Heading>
    <Heading
    tagName={"h2"}
    className="text-bg"
    >Call</Heading>  -->
</div>
<div class="header-bottom w-full bg-primary">
  <Menu items={headerMenu} hamburgerOnly={false} />
</div>
</header>
