---
import { Image } from "astro:assets";
import { SiteData } from "@/content/SiteData";

// Accept optional props to override or extend classes.
const {
  containerClass = "sm:items-center items-start",
  titleClass = "h1",
  taglineClass = "",
  imageClass = "",
} = Astro.props;
---

<a
  href="/"
  class={`flex flex-col justify-center ${containerClass}`}
>
  <div class={`${titleClass}`}>
    {SiteData.title}
  </div>
  <div
    class={`tagline-and-logo w-fit flex justify-center items-center text-stroke h5 font-bold capitalize italic ${taglineClass}`}
  >
    {SiteData.tagline}
    <Image
      src={SiteData.logo.src}
      alt={`${SiteData.title} logo`}
      class={`h-4 w-auto md:h-7 mx-[var(--spacing-xs)] ${imageClass}`}
      loading="eager"
      fetchpriority="high"
      aria-hidden="true"
    />
  </div>
</a>
