---
import Button from "../Button.jsx";
import Heading from "../Heading.jsx";
import { Image } from "astro:assets";

const { item, collectionName, HasPage } = Astro.props;

// Determine whether to show the button
const effectiveHasPage = item.data.hasPage !== undefined ? item.data.hasPage : HasPage;
---

<li class="card w-full md:flex-2/5 xl:flex-1/4 border-1 box-shadow-primary bg-text border-border flex flex-col items-center">
  <div class="card-image w-full hover:opacity-50 duration-500">
    {item.data.featuredImage && (
      <div class="w-full h-38 md:h-48">  <!-- Fixed height for all screen sizes -->
        <Image 
          src={item.data.featuredImage}
          alt={item.data.title}
          class="w-full h-full object-cover"
          loading="lazy"
          format="webp"
          quality="low"
        />
      </div>
    )}
  </div>
  <div class="card-container flex flex-col justify-center items-center px-[var(--spacing-md)] md:px-0 lg:px-[var(--spacing-sm)] w-full bg-bg h-32 md:h-42">
    <!-- <div class="card-content p-[var(--spacing-lg)] h-full flex items-center justify-center flex-col"> -->
      <Heading tagName="h3" className="h4 mb-[var(--spacing-md)] text-[var(--color-text)]">
        {item.data.title}
      </Heading>
    {effectiveHasPage && (
      <Button variant="primary" href={`/${collectionName}/${item.slug}`}>
        View More
      </Button>
    )}
        <!-- </div> -->
  </div>
</li>
